@import "lineicons/web-font/lineicons.css";

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/green-forest.gif");
  background-position: center;
  background-size: cover;
}