@import "modern-normalize/modern-normalize.css";

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/green-forest.gif");
  background-position: center;
  background-size: cover;
}

button {
  padding: 4pt 8pt;
  color: white;
  background: black;
  border: none;
  border-radius: 4pt;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 1;
  }
}