@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: hidden;
    scrollbar-gutter: unset !important;
  }

  body {
    height: 100dvh;
  }

  main {
    height: 100%;
    overflow: auto;
  }
}